
:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --link-color-light: #007bff;
    --header-background-light: #f8f9fa;
    --footer-background-light: #f1f1f1;
}

[data-theme="dark"] {
    --background-color-light: #2d2d2d;
    --text-color-light: #ffffff;
    --link-color-light: #1e90ff;
    --header-background-light: #1f1f1f;
    --footer-background-light: #333333;
}

body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

a {
    color: var(--link-color-light);
    transition: color 0.3s;
}

header {
    background-color: var(--header-background-light);
}

footer {
    background-color: var(--footer-background-light);
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

body.dark-theme {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

button#theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button#theme-toggle:hover {
    background-color: #0056b3;
}
